* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav {
    flex-direction: column;
    text-align: center;
}

nav ul {
    flex-direction: column;
}

.nav-input {
    display: flex;
    flex-direction: column;
}

.nav-input input {
    margin: 0.9rem;
} */

img.nav-logo {
    width: 36%;
    margin-left: -1rem;
}

.fa-bars {
    width: 10%;
    display: flex;
    color: #0d807d;
    font-size: 3rem;
    position: relative;
    left: 1rem;
    top: 0.3rem;
}

#ul-i.show {
    display: flex;
    width: 120%;
    position: relative;
    right: -3rem;
}

.no-display-i {
    font-size: 1.5rem;
    width: 90%;
}

nav li {
    margin: 0.8rem;
}

.nav-logo {
    width: 50%;
}

#one img {
    width: 98%;
    width: 45rem;
    height: 26rem;
}

img.a, img.s, img.p, img.r, img.t {
    width: 80%;
    position: relative;
    left: 0.4;
}

#three .img.q {
    display: none;
}

.w-2 {
    display: none;
}



#two .larger-h1-two {
    font-size: 4rem;
}

.three {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.three img {
    width: 60%;
}


.three a {
    width: 80rem;
}

.four-flex-container {
    flex-direction: column;
}

section#five {
    display: flex;
    flex-direction: column;
}

section#five div {
    width: 80%;
    text-align: center;
    position: relative;
    left: 3rem;
}

.five {
    display: flex;
    flex-direction: column;
}

.five-d, .five-c {
    display: none;
}

.f-input {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

footer img {
    width: 65vw;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
