* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* background-color: yellow; */
}

#one img {
    height: 19rem;
    width: 99%;
}

#first-btn {
    width: 100%;
    position: relative;
    left: -2rem;
}
